/*html {
  background: url('../../img/sydney1.jpg') no-repeat center center
      fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
   color: black; 
    font-family: 'MyWebFont', Calibri, sans-serif;
}

div {
   color: black; 
}

img {
    width: 300px
}

.parallax {
  /* The image used */
  background-image: url('../../img/js1.png');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
    margin-bottom: 20px;
    text-align: center;

    &.full {
      height: 100vh;
    }

    &.half {
      height: 50vh;
    }

    > div {
        height: 100%;
        
        &.headerImage {
          @extend .parallax;
        }
        
        div.name {
            color: #ffffff;
            font-size: 90px;
            padding-top: 200px;
        }

        div.profession {
          color: #F1C40F;
          font-size: 52px;
        }

        &.section-content {
          margin: 0 100px;
        }
    }
    
    &.whoAmI {
       .whoAmI_intro {
            padding: 100px 50px 0 50px;
            font-size: 32px;
        }
        .whoAmI_more {
            padding: 50px 100px 0 100px;
            font-size: 26px;
        }
    }
    
    &.workedWith {
        div.workedWith_desc {
            padding: 50px 100px 50px 100px;
            font-size: 32px;
        }
        div.wrapper {
            display: grid;
            justify-content: space-evenly;
            // grid-template-columns: 250px 250px 250px 250px 250px;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
            background-color: #EAECEE;
            color: #444;

            > span {
                background-color: #ABB2B9;
                color: #fff;
                border-radius: 5px;
                padding: 20px;
                font-size: 150%;

                img {
                  height: 100px;
                  width: 200px;
                }
            }
        } 
    }
    
    &.lifeBeautiful {
        div.lifeBeautiful_desc {
            padding: 200px 100px 0 100px;
            font-size: 32px;
        }
    }
    
}
